<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="KursEntities" connectionString="metadata=res://*/ADO.Model1.csdl|res://*/ADO.Model1.ssdl|res://*/ADO.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=Kurs;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>